Photo/bin/AndroidManifest.xml
Photo/bin/classes/PhotoActivity.class
Photo/bin/classes/PhotoFragment.class
Photo/bin/classes/com/example/photo/BuildConfig.class
Photo/bin/classes/com/example/photo/R$attr.class
Photo/bin/classes/com/example/photo/R$drawable.class
Photo/bin/classes/com/example/photo/R$string.class
Photo/bin/classes/com/example/photo/R$style.class
Photo/bin/classes/com/example/photo/R.class
Photo/bin/jarlist.cache
Photo/gen/com/example/photo/BuildConfig.java
Photo/gen/com/example/photo/R.java
