Photo/bin/AndroidManifest.xml
Photo/bin/classes/PhotoActivity.class
Photo/bin/classes/PhotoFragment.class
Photo/bin/classes/com/example/photo/BuildConfig.class
Photo/bin/classes/com/example/photo/R$attr.class
Photo/bin/classes/com/example/photo/R$drawable.class
Photo/bin/classes/com/example/photo/R$string.class
Photo/bin/classes/com/example/photo/R$style.class
Photo/bin/classes/com/example/photo/R.class
Photo/bin/jarlist.cache
Photo/gen/com/example/photo/BuildConfig.java
Photo/gen/com/example/photo/R.java
Photo/bin/Photo.apk
Photo/bin/classes.dex
Photo/bin/classes/com/example/photo/PhotoActivity.class
Photo/bin/classes/com/example/photo/PhotoFragment$1.class
Photo/bin/classes/com/example/photo/PhotoFragment$TakePhoto.class
Photo/bin/classes/com/example/photo/PhotoFragment.class
Photo/bin/classes/com/example/photo/R$id.class
Photo/bin/classes/com/example/photo/R$layout.class
Photo/bin/classes/com/example/photo/R$menu.class
Photo/bin/classes/com/example/photo/SavePhotoDialog.class
Photo/bin/dexedLibs/android-support-v4-3fd33994fab3e1a77f91104f195668ba.jar
Photo/bin/res/crunch/drawable-hdpi/ic_launcher.png
Photo/bin/res/crunch/drawable-mdpi/ic_launcher.png
Photo/bin/res/crunch/drawable-xhdpi/ic_launcher.png
Photo/bin/resources.ap_
Photo/res/drawable-hdpi/music_gorillaz_004721.jpg
Photo/bin/dexedLibs/android-support-v4-336d7d2c8c7e28dd6e619d6fa3e384b8.jar
